<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1066378810108588";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="bg-light-gray dark-gray border-accent-muted rounded p3 sm-p3 mt3">
  <div class="max-width-4 mx-auto">

    <div class="sm-flex justify-between flex-wrap content-end mxn2">
      <div class="px2 md-m0 mb3">
        <h2 class="bold">Ready to join the revolution?</h2>
        <h3 class="mb3">Like us on Facebook!</h3>
        <hr class="border-bottom muted silver">
        <div class="fb-like fb-like-inline" data-href="https://www.facebook.com/voteflux.org/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <h4 class='line-height-4 sm-h4'>Flux is here to help upgrade our democracy,<br />pioneering a real-time voting system<br />which gives you a direct voice in to parliament.</h4>
      </div>
	
	
      <div class="px2 sm-flex flex-column justify-end">
        <div class="fb-like fb-like-scale" data-href="https://www.facebook.com/voteflux.org/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>

    </div>
  </div>
</div>
