---
layout: default
header-theme: light
---
{% include base.html %}
{% capture page_url %}https:/{{site.baseurl}}{{page.url}}{% endcapture %}
{% include navbar.html%}
<div class="bg-near-black texture-bg-img height-30vh py4">
	<div class="max-width-4 mx-auto px2 sm-px3 pt5">
	  {% include components/main-heading.html
	    text=""
	    font-size="h0"
	    font-weight="bold"
	    line="true"
	    classes="white" %}
	</div>
</div>

<main class="bg-white mid-gray pb4 pt3 sm-pt5 px2 sm-px3">
	<div class="mx-auto max-width-3">
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			
			<header class="post-header">
			<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
			<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
			</header>
			
			<div class="post-content" itemprop="articleBody">
			{{ content }}
			</div>
			
		</article>
	</div>
</main>
{% include footer.html%}